body {
  margin: 0;
  overflow: hidden;
  background: #111;
  font-family: sans-serif;
}

canvas {
  display: block;
}

header{
height: 170.2px;
background-color: black;
}

img{
padding-left: 15px;
padding-top: 10px;
}