@font-face {
    font-family: alte-reg;
    src: url(font/AlteHaasGroteskRegular.ttf);
}
@font-face {
    font-family: alte-fat;
    src: url(font/AlteHaasGroteskBold.ttf);
}
html{
    overflow: hidden;
    
    font-family: alte-reg;
    background-color: black;
}
body{
    margin-left: 200px;
    margin-top: 230px;
    filter: blur(.7px);
}
p{
    justify-content: center;
    text-align: left;
    color:rgb(235, 235, 187);
}
.title{
    font-size: small;
    font-family: alte-fat;
    background-color: blue;
    height: 90px;
    width: 302px;
    display: block;
    filter: blur(.3px);
}
.text{
    width: 290px;
    filter: blur(.7px);
}
img{
    height: 60px;
    position: absolute;
    top: 11px;
    left: 315px;
}
.title, .text {
  transition: opacity 2s ease;
}
